<!DOCTYPE html>
<html>
<head>
  <script>
  if(performance.navigation.type == 2){
     location.reload(true);
  }
  </script>

  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - ultimate</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ultimate.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');
    <% for(var i=0; i<games.yourTurn.length; i++) { %>
      socket.emit('ultimate-room', <%= games.yourTurn[i]._id %>);
    <% } %>
    <% for(var i=0; i<games.waiting.length; i++) { %>
      socket.emit('ultimate-room', <%= games.waiting[i]._id %>);
    <% } %>
    <% for(var i=0; i<games.won.length; i++) { %>
      socket.emit('ultimate-room', <%= games.won[i]._id %>);
    <% } %>
    <% for(var i=0; i<games.lost.length; i++) { %>
      socket.emit('ultimate-room', <%= games.lost[i]._id %>);
    <% } %>

    socket.on('redirect', function(destination) {
      window.location.href = destination;
    });

    socket.on('ultimate-game-update', function(){
      location.reload();
    })
  </script>

  <% populate = function(gamesArray) { %>
    <% for(var i=0; i<gamesArray.length; i++) { %>
      <div class="game-card" onclick="window.location.href = '/ultimate/<%= gamesArray[i]._id %>'">
        <h4 class="game-card-header"><%= gamesArray[i].player[0].username %> vs <%= gamesArray[i].player[1].username %></h4>
        <%- gamesArray[i].getBoardHTML(user._id) %>
      </div>
    <% } %>
  <% } %>

</head>

<body style="text-align: center;">

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
    <li><a href='/ultimate/new'>New Game</a></li>
  <% include ../../partials/post-nav.ejs %>

  <h1>Ultimate Tic-Tac-Toe Dashboard</h1>
  <a type='button' href='/ultimate/new'>New Game</a>

  <div>
    <% if (games.yourTurn.length > 0) { %>
      <h1 class="black-band">Your Turn:</h1>
      <%= populate(games.yourTurn) %>
    <% } %>
    <% if (games.waiting.length > 0) { %>
      <h1 class="black-band">Waiting:</h1>
      <%= populate(games.waiting) %>
    <% } %>
    <% if (games.won.length > 0) { %>
      <h1 class="black-band">Won:</h1>
      <%= populate(games.won) %>
    <% } %>
    <% if (games.lost.length > 0) { %>
      <h1 class="black-band">Lost:</h1>
      <%= populate(games.lost) %>
    <% } %>
  </div>

</body>
</html>
