<!DOCTYPE html>
<html>
<head>
  <script>
  if(performance.navigation.type == 2){
     location.reload(true);
  }
  </script>

  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - ultimate - <%= game.getOpponent(req.user._id).username %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ultimate.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');
    socket.emit('ultimate-room', <%= game._id %>);

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });

    function POST(squareId, cellId) {
      socket.emit('ultimate-game-select-cell', squareId, cellId);
    }

    socket.on('ultimate-game-update', function(){
      location.reload();
    })
  </script>

</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/portfolio'>Portfolio</a></li>
    <li><a href='/ultimate'>Ultimate Dashboard</a></li>
    <li><a href='/ultimate/new'>New Game</a></li>
  <% include ../../partials/post-nav.ejs %>

  <h1>Game Id: <%= game._id %></h1>

  <div class='table-div'>
    <table class="winner-square <%= game.getWinnerSquareCSS() %>">
        <tr> <!-- ROW IS FOR COORDINATES-->
            <td></td>
            <td>
                <table style="width:100%; text-align:center;">
                    <tr><td class="coordinate">1</td><td class="coordinate">2</td><td class="coordinate">3</td></tr>
                </table>
            </td>
            <td>
                <table style="width:100%;text-align:center;">
                    <tr><td class="coordinate">4</td><td class="coordinate">5</td><td class="coordinate">6</td></tr>
                </table>
            </td>
            <td>
                <table style="width:100%;text-align:center;">
                    <tr><td class="coordinate">7</td><td class="coordinate">8</td><td class="coordinate">9</td></tr>
                </table>
            </td>
        </tr>
        <!-- FIRST ROW OF GAMEBOARD -->
        <tr class="main-row">
            <td style="border:none">
                <table class="y-coordinate">
                    <tr><td>A</td></tr>
                    <tr><td>B</td></tr>
                    <tr><td>C</td></tr>
                </table>
            </td>
            <td>
                <table class="square left-column top-row <%= game.getSquareCSS(0) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(0, 0, user._id) %>" <%= game.getCellEvents(0,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(0, 1, user._id) %>" <%= game.getCellEvents(0,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(0, 2, user._id) %>" <%= game.getCellEvents(0,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(0, 3, user._id) %>" <%= game.getCellEvents(0,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(0, 4, user._id) %>" <%= game.getCellEvents(0,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(0, 5, user._id) %>" <%= game.getCellEvents(0,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(0, 6, user._id) %>" <%= game.getCellEvents(0,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(0, 7, user._id) %>" <%= game.getCellEvents(0,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(0, 8, user._id) %>" <%= game.getCellEvents(0,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="square middle-column top-row <%= game.getSquareCSS(1) %>" id="square1">
                    <tr>
                        <td class="cell <%= game.getCellCSS(1, 0, user._id) %>" <%= game.getCellEvents(1,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(1, 1, user._id) %>" <%= game.getCellEvents(1,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(1, 2, user._id) %>" <%= game.getCellEvents(1,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(1, 3, user._id) %>" <%= game.getCellEvents(1,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(1, 4, user._id) %>" <%= game.getCellEvents(1,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(1, 5, user._id) %>" <%= game.getCellEvents(1,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(1, 6, user._id) %>" <%= game.getCellEvents(1,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(1, 7, user._id) %>" <%= game.getCellEvents(1,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(1, 8, user._id) %>" <%= game.getCellEvents(1,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="square right-column top-row <%= game.getSquareCSS(2) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(2, 0, user._id) %>" <%= game.getCellEvents(2,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(2, 1, user._id) %>" <%= game.getCellEvents(2,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(2, 2, user._id) %>" <%= game.getCellEvents(2,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(2, 3, user._id) %>" <%= game.getCellEvents(2,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(2, 4, user._id) %>" <%= game.getCellEvents(2,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(2, 5, user._id) %>" <%= game.getCellEvents(2,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(2, 6, user._id) %>" <%= game.getCellEvents(2,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(2, 7, user._id) %>" <%= game.getCellEvents(2,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(2, 8, user._id) %>" <%= game.getCellEvents(2,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="main-row">
            <td>
                <table class="y-coordinate">
                    <tr><td>D</td></tr>
                    <tr><td>E</td></tr>
                    <tr><td>F</td></tr>
                </table>
            </td>
            <td>
                <table class="square left-column middle-row <%= game.getSquareCSS(3) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(3, 0, user._id) %>" <%= game.getCellEvents(3,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(3, 1, user._id) %>" <%= game.getCellEvents(3,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(3, 2, user._id) %>" <%= game.getCellEvents(3,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(3, 3, user._id) %>" <%= game.getCellEvents(3,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(3, 4, user._id) %>" <%= game.getCellEvents(3,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(3, 5, user._id) %>" <%= game.getCellEvents(3,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(3, 6, user._id) %>" <%= game.getCellEvents(3,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(3, 7, user._id) %>" <%= game.getCellEvents(3,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(3, 8, user._id) %>" <%= game.getCellEvents(3,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="square middle-column middle-row <%= game.getSquareCSS(4) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(4, 0, user._id) %>" <%= game.getCellEvents(4,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(4, 1, user._id) %>" <%= game.getCellEvents(4,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(4, 2, user._id) %>" <%= game.getCellEvents(4,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(4, 3, user._id) %>" <%= game.getCellEvents(4,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(4, 4, user._id) %>" <%= game.getCellEvents(4,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(4, 5, user._id) %>" <%= game.getCellEvents(4,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(4, 6, user._id) %>" <%= game.getCellEvents(4,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(4, 7, user._id) %>" <%= game.getCellEvents(4,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(4, 8, user._id) %>" <%= game.getCellEvents(4,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="square right-column middle-row <%= game.getSquareCSS(5) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(5, 0, user._id) %>" <%= game.getCellEvents(5,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(5, 1, user._id) %>" <%= game.getCellEvents(5,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(5, 2, user._id) %>" <%= game.getCellEvents(5,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(5, 3, user._id) %>" <%= game.getCellEvents(5,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(5, 4, user._id) %>" <%= game.getCellEvents(5,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(5, 5, user._id) %>" <%= game.getCellEvents(5,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(5, 6, user._id) %>" <%= game.getCellEvents(5,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(5, 7, user._id) %>" <%= game.getCellEvents(5,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(5, 8, user._id) %>" <%= game.getCellEvents(5,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="main-row">
            <td>
                <table class="y-coordinate">
                    <tr><td>G</td></tr>
                    <tr><td>H</td></tr>
                    <tr><td>I</td></tr>
                </table>
            </td>
            <td>
                <table class="square left-column bottom-row <%= game.getSquareCSS(6) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(6, 0, user._id) %>" <%= game.getCellEvents(6,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(6, 1, user._id) %>" <%= game.getCellEvents(6,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(6, 2, user._id) %>" <%= game.getCellEvents(6,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(6, 3, user._id) %>" <%= game.getCellEvents(6,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(6, 4, user._id) %>" <%= game.getCellEvents(6,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(6, 5, user._id) %>" <%= game.getCellEvents(6,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(6, 6, user._id) %>" <%= game.getCellEvents(6,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(6, 7, user._id) %>" <%= game.getCellEvents(6,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(6, 8, user._id) %>" <%= game.getCellEvents(6,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="square middle-column bottom-row <%= game.getSquareCSS(7) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(7, 0, user._id) %>" <%= game.getCellEvents(7,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(7, 1, user._id) %>" <%= game.getCellEvents(7,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(7, 2, user._id) %>" <%= game.getCellEvents(7,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(7, 3, user._id) %>" <%= game.getCellEvents(7,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(7, 4, user._id) %>" <%= game.getCellEvents(7,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(7, 5, user._id) %>" <%= game.getCellEvents(7,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(7, 6, user._id) %>" <%= game.getCellEvents(7,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(7, 7, user._id) %>" <%= game.getCellEvents(7,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(7, 8, user._id) %>" <%= game.getCellEvents(7,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="square right-column bottom-row <%= game.getSquareCSS(8) %>">
                    <tr>
                        <td class="cell <%= game.getCellCSS(8, 0, user._id) %>" <%= game.getCellEvents(8,0,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(8, 1, user._id) %>" <%= game.getCellEvents(8,1,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(8, 2, user._id) %>" <%= game.getCellEvents(8,2,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(8, 3, user._id) %>" <%= game.getCellEvents(8,3,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(8, 4, user._id) %>" <%= game.getCellEvents(8,4,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(8, 5, user._id) %>" <%= game.getCellEvents(8,5,user._id) %>></td>
                    </tr>
                    <tr>
                        <td class="cell <%= game.getCellCSS(8, 6, user._id) %>" <%= game.getCellEvents(8,6,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(8, 7, user._id) %>" <%= game.getCellEvents(8,7,user._id) %>></td>
                        <td class="cell <%= game.getCellCSS(8, 8, user._id) %>" <%= game.getCellEvents(8,8,user._id) %>></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

  </div>

</body>
</html>
