<!DOCTYPE html>
<html>
<head>
  <script>
  if(performance.navigation.type == 2){
     location.reload(true);
  }
  </script>

  <% include ../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - hermes <%= chatRoom.getChatName(req.user._id) %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/hermes.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');
    socket.emit('chatroom', <%= chatRoom._id %>);

    socket.on('redirect', function(destination) {
      window.location.href = destination;
    });

    socket.on('render_message', function(obj) {
      render(obj.message);
      updateScroll();
    });

    function emit_message(input) {
      if(event.keyCode == 13 && input.value) {
          socket.emit('new_message', input.value);
          input.value = null;
      }
    }

    function updateScroll(){
      var element = document.getElementById("chat_content");
      element.scrollTop = element.scrollHeight;
    }

    function render(message) {
      var div = document.createElement("div");
      div.innerHTML = "<div>\n";
      div.innerHTML += "<span class='username'>"+message.user.username+"</span>\n";
      div.innerHTML += "<span class='text'>"+message.text+"</span>\n";
      div.innerHTML += "</div>\n";
      div.innerHTML += "<div class='date'>"+new Date(message.created).toLocaleString('en-GB')+"</div>";
      document.getElementById("chat_content").appendChild(div);
    }

  </script>
</head>

<body>

  <% include ../../partials/pre-nav.ejs %>
    <li><a href='/freelance'>Freelance Projects</a></li>
    <li><a href='/freelance/hermes'>Hermes Dashboard</a></li>
    <li><a href='/freelance/hermes/new'>New Chat</a></li>
  <% include ../../partials/post-nav.ejs %>

<h1>Chat Room <%= chatRoom._id %></h1>

  <div id='chat_wrapper'>
    <div id='chat_content'>
    </div>
  </div>

  <div class='bottom-wrapper'>
    <input type='text' class='new-message-input' placeholder='Type a message' onkeypress='emit_message(this)'>
  </div>

  <script>
    <% for (var i=0; i<chatRoom.messages.length; i++) { %>
      render({
        text: '<%= chatRoom.messages[i].text %>',
        user: {username: '<%= chatRoom.messages[i].user.username %>' },
        created: '<%= chatRoom.messages[i].created %>',
      });
    <% } %>
    updateScroll();
  </script>
</body>
</html>
