<!DOCTYPE html>
<html>
<head>
  <% include ../../../partials/header.ejs %>
  <title><%= process.env.TITLE %> - anagrams '<%= word %>'</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/anagrams.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
  searching = true;
  var socket = io.connect('/');

  socket.emit('getDefinition', '<%= word %>');

  socket.on('returnDefinition', function(results) {
    searching = false;
    document.getElementById('searching').style.display = 'none';

    if (results.meaning) {
      meanings = Object.entries(results.meaning);
      meanings_html = ''
      for (var i=0; i<meanings.length; i++) {
        for (var j=0; j<meanings[i][1].length; j++) {
          meanings_html += '<p><b>'+meanings[i][0]+'</b>: '+meanings[i][1][j].definition+'</p>';
        }
      }
      document.getElementById('definitions').innerHTML = meanings_html;
      document.getElementById('definitions-container').style.display = 'block';
    }

    if (results.origin) {
      origin_html = '<p>'+results.origin+'</p>';
      document.getElementById('origin').innerHTML = origin_html;
      document.getElementById('origin-container').style.display = 'block';
    }

    if (results.phonetic) {
      phonetic_html = '<p>'+results.phonetic+'</p>';
      document.getElementById('phonetic').innerHTML = phonetic_html;
      document.getElementById('phonetic-container').style.display = 'block';
    }

    document.getElementById('results').style.display = 'block';
  });

  socket.on('definitionError', function(_) {
    console.log('definition error');
    searching = false;
    document.getElementById('searching').style.display = 'none';
    html = "no definition found for '<%= word %>'.";
    document.getElementById('results').innerHTML = html;
    document.getElementById('results').style.display = 'block';
  });

  </script>
</head>

<body style="text-align:center;">

  <% include ../../../partials/pre-nav.ejs %>
    <li><a href='/uni'>Uni Projects</a></li>
    <li><a href='/uni/anagrams'>Anagrams</a></li>
  <% include ../../../partials/post-nav.ejs %>

  <h1><%= word %></h1>

  <div class='card bordered shadowed'>
    <h2>Anagrams</h2>
    <% if (anagrams.length == 0) { %>
      <p>No anagrams found.</p>
    <% } else { %>
      <% for (var i=0; i<anagrams.length; i++) { %>
        <a href='/uni/anagrams/<%= anagrams[i] %>'><%= anagrams[i] %></a>
      <% } %>
    <% } %>
  </div>

  <div class='card-large bordered shadowed'>
    <p style='color:grey;' id='searching'></p>
    <div id='results' style='display:none;'>
      <div id='phonetic-container' style='display:none;'>
        <h2>Phonetic</h2>
        <div id='phonetic'></div>
      </div>
      <div id='definitions-container' style='display:none;'>
        <h2>Definitions</h2>
        <div id='definitions'></div>
      </div>
      <div id='origin-container' style='display:none;'>
        <h2>Origin</h2>
        <div id='origin'></div>
      </div>
    </div>
  </div>

</body>
<script>
state = 0;
messages = ['Searching for word.',
  'Searching for word..',
  'Searching for word...'];

function updateSearchingText(){
  document.getElementById('searching').innerHTML = messages[state];
  state = (state + 1) % 3;

  if (searching){
    setTimeout(updateSearchingText, 500);
  }
}

updateSearchingText();

</script>
</html>
