<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/9way.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('/');
    <% for(var i=0; i<games.length; i++) { %>
      socket.emit('9wayroom', <%= games[i]._id %>);
    <% } %>

    socket.on('redirect', function(destination) {
      window.location.href = destination;
    });

    socket.on('updategame', function(){
      location.reload();
    })
  </script>

  <% populate = function(gamesArray) { %>
    <% for(var i=0; i<gamesArray.length; i++) { %>
      <div class="game_card" onclick="window.location.href = '/9way/<%= gamesArray[i]._id %>'">
        <h4 class="game_card_header"><%= gamesArray[i].player[0].name %> vs <%= gamesArray[i].player[1].name %></h4>
        <table class="<%= gamesArray[i].getWinnerSquareCSS() %>">
          <% for(row=0; row<3; row++) { %>
            <tr class="main_row">
              <% for(col=0; col<3; col++) { %>
                <td>
                  <table class="square col<%= col %> row<%= row %> <%= gamesArray[i].getSquareCSS(col+3*row) %>">
                      <tr>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 0, user._id) %>"></td>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 1, user._id) %>"></td>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 2, user._id) %>"></td>
                      </tr>
                      <tr>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 3, user._id) %>"></td>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 4, user._id) %>"></td>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 5, user._id) %>"></td>
                      </tr>
                      <tr>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 6, user._id) %>"></td>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 7, user._id) %>"></td>
                          <td class="dashboad_cell <%= gamesArray[i].getCellCSS(col+3*row, 8, user._id) %>"></td>
                      </tr>
                  </table>
                </td>
              <% } %>
            <% } %>
          </table>
        </div>
      <% } %>
    <% } %>

</head>

<body style="text-align: center;">

  <% include ../../partials/nav.ejs %>

  <h1>9 Way Dashboard</h1>
  <a type='button' href='/9way/new'>New Game</a>

  <div>
    <% if (games.yourTurn.length > 0) { %>
      <h1 class="black_band">Your Turn:</h1>
      <%= populate(games.yourTurn) %>
    <% } %>
    <% if (games.waiting.length > 0) { %>
      <h1 class="black_band">Waiting:</h1>
      <%= populate(games.waiting) %>
    <% } %>
    <% if (games.won.length > 0) { %>
      <h1 class="black_band">Won:</h1>
      <%= populate(games.won) %>
    <% } %>
    <% if (games.lost.length > 0) { %>
      <h1 class="black_band">Lost:</h1>
      <%= populate(games.lost) %>
    <% } %>
  </div>

</body>
</html>
